body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.reset{
    padding: 10px 20px ;
    font-size: 15px;
    cursor: pointer;
}

.game{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10px;
    justify-content: center;
    margin: 5px;
}
.cell{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}